<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home-ProjectII</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Titillium+Web" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script src="jquery-1.11.2.min.js"></script>
    
    <!--Optional Theme-->
    <!--<link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ds-style.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <script type=text/javascript>
        $(function() {
            $('a#process_input').bind('click', function() {
                $.getJSON('/text', {
                    question: $('input[name="question"]').val(),
                }, function(data) {
                    $("#result").text(data.result);
                });
                return false;
                });
            });
    </script>
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <!--Use .container-fluid for a full width container-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="home" class="active navbar-brand brand_color" href="/">Overview</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="myBar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="/tableau-summary" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wine Dashboards
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop_down_color">
                            <li>
                                <a href="/tableau">Country</a>
                            </li>
                            <li>
                                <a href="/tableaumap">World Map</a>
                            </li>
                            <li>
                                <a href="/tableauvariety">Variety</a>
                            </li>
                            <li>
                                <a href="/tableautaster">Taster</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/wine-r&d">Wine R&D</a>
                    </li>
                    <li>
                        <a href="/finder">Wine Finder</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Summary
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop_down_color">
                            <li>
                                <a href="/data">Data Discovery</a>
                            </li>
                            <li>
                                <a href="/pycharts">Correlation</a>
                            </li>
                            <li>
                                <a href="/d3">D3</a>
                            </li>
                            <li>
                                <a href="/kmeans">Kmeans Cluster</a>
                            </li>
                            <li>
                                <a href="/models">Markov Chain</a>
                            </li>
                            <li>
                                <a href="/variety_questionaire">Pick you wine!</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Page General Information-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- <div class="page-header"> -->
        <div class="jumbotron text-right">
            <div class="row">
                <div class="left col-lg-8 col-md-8 col-xs-12">
                    <h1 id=# "header" style="color: rgb(59, 5, 59); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Wine Reviews</h1>
                    <h2 style="color: rgb(15, 78, 39); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Project III</h2>
                    <!-- <img src="fall-rose-wine.jpg" alt="Wine picture" width="300" height="300" class="pull-left img_responsive img-rounded"> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="left col-lg-6 col-md-8 col-xs-12">
                <h2>Wine Reviews Generator</h2>
                <h3>Fake your wine knowledge with Markov Chains!</h3>
                <p id="test" style="text-align:justify">
                    <h4>Purpose</h4>
                    In this project we tried to explore the conventional nature of wine reviews to automatically generate our own reviews. 
                    Our initial thought was: <strong>You too can talk like a wine snob!</strong>. Stuff like backward, blowsy, hot, flabby, can sound more like a
                    dialogue from a yoga class than a daunting list of adjectives from a wine tasting.
                    
                    <h4>What we did</h4>
                    In order to fake our wine reviews, we trained an <strong>Markov chain</strong>
                    For our text generator we used a considerably large corpus of <strong>+110k wine reviews</strong> from Winemag.com
                    
                    <h4>Challenges</h4>
                    We start using a chain of order-one but we saw that the text didn't have that much of semantic sense and it didn't conform to 
                    the actual "correct" English. To fix this we use a higher order chain.
                    We didn't calculated the probabilities of the transitions, we built the chain, as a Python dictionary, and we stored
                    the words that occur after each bi-gram in a list that can be accessed using the bigram key to the chain disctionary.   
                    The random.choice function allowed us to skip the calculation of the transition probabilities because it will choose
                    from the list of possible next states in accordance with the frequencies at which they occur. 
                    <a href="https://github.com/EliseLinker/Boot-Camp-Project-II/blob/master/models/Markov%20Chain.ipynb">Click here to see the code!!</a>

                    <h4>Results</h4>
                    Overall, the results of the Markov chain were mixed, some results are self-contradictory or nonsensical, but
                    many are quite coherent.

                </p>
            </div>

            <div class="col-lg-5 col-md-4 col-xs-10">
            <!-- <div class="row"> -->
                <div class="row">
                <div class="col-md-12 col-lg-12">
                <img src="/static/css/img/tag-cloud-940.jpg" alt="wine&words" height="280" width="600">
                <div class="col-md-12 col-lg-12">
                    <h4 style="font-size:150% ; font-weight: bold">Would you like to generate a random wine review with a Markov chain?</h4>
                    <form>
                        <input type=text size=10 name=question>
                        <a href='#' id=process_input><button id="search" type="button" class="btn btn-success">Submit</button></a>
                    </form>
                    <div class="row">
                    <p id=result style=" text-align: justify; font-family: initial ; font-size:130% ; font-weight: bold; color:rgb(66, 3, 66)" > 
                        <!-- Jsonified ramdom text generated goes here -->
                    </p>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <tbody id="tbody00"></tbody>
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group shadow-textarea">
                    <label for="exampleFormControlTextarea6">Shadow and placeholder</label>
                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Text goes here..."></textarea>
                </div>
            </div>
        </div>
    </div> -->
    <div class="clearfix"></div>
    </div>
</div>
    <!-- jQuery for Bootstrap JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script type="text/javascript">
    $(document).ready(function (){
        $("#test").append("<strong>This is a test appending a text str using ajax</strong>")
    });

    </script> -->

</body>

<div class="container-fluid">
    <div class="text-center">
        <footer class="footer" role="contentinfo" style="background-color: lightgrey">
            <div class="footer_main_menu text-center">
                <a href="/" title="Home">Home \ </a>
                <a href="/contact" title="Contact">Contact</a>
            </div>
            <!--Div for footer-->
            <div class="footer_main_social-links">
                <a href="https://github.com/alexa289/Boot-Camp-Project-II">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://twitter.com/wineenthusiast">
                    <i class="fa fa-twitter"></i>
                </a>
                <p class="footer-text">
                    <small> © Copyright NWU Data Science Boot Camp
                        </br>
                        June 2018
                    </small>
                </p>
            </div>
        </footer>
    </div>
</div>

</html>

</html>