<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home-ProjectII</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Titillium+Web" rel="stylesheet">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <!-- <script src="jquery-1.11.2.min.js"></script> -->
  
  <!--Optional Theme-->
  <!--<link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ds-style.css') }}">
  
  
  <script type=text/javascript>
    $(function() {
        $('a#process_input').bind('click', function() {
            $.getJSON('/variety', {
                fruitquestion: $('input[name="fruitquestion"]').val(),
            }, function(data) {
                $("#result").text(data.result);
            });
            return false;
            });
        });
  </script>


<script type=text/javascript>
//view sourceprint;
//In the javascript code
var theForm = document.forms["varietyform"]; 

</script>

<!-- <script type=text/javascript>
$(function hideTotal()
{
    var divobj = document.getElementById('finalVariety');
    divobj.style.display='none';
});
</script> -->




</head>

<body onload="hideNoFruitRadio();hidenoFruitListlabel(); hideFruitTypeRadio();hideFruitTypeListlabel(); hideFruitTypeDropDowns();hideFruitTypeDropDownlabel;hideFruitTypeDropDownlabel()">
    
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <!--Use .container-fluid for a full width container-->
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="home" class="active navbar-brand brand_color" href="/">Overview</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="myBar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="/tableau-summary" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wine Dashboards
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu drop_down_color">
                <li>
                  <a href="/tableau">Country</a>
                </li>
                <li>
                  <a href="/tableaumap">World Map</a>
                </li>
                <li>
                  <a href="/tableauvariety">Variety</a>
                </li>
                <li>
                  <a href="/tableautaster">Taster</a>
                </li>
                <li>
                  <a href="/tableauwinery">Winery</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/wine-r&d">Wine R&D</a>
            </li>
            <li>
              <a href="/finder">Wine Finder</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Summary
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu drop_down_color">
                <li>
                    <a href="/data">Data Discovery</a>
                </li>
                <li>
                    <a href="/pycharts">Correlation</a>
                </li>
                <li>
                    <a href="/d3">D3</a>
                </li>
                <li>
                    <a href="/kmeans">Kmeans Cluster</a>
                </li>
                <li>
                    <a href="/models">Markov Chain</a>
                </li>
                <li>
                   <a href="/variety_questionaire">Pick you wine!</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!--Page General Information-->
  <!-- <div class="container-fluid">
    <div class="page-header">
      <div class="row">
      </div>
    </div>
  </div> -->
  <!-- <div class="container text-center"> -->
  <!-- <h1 class="jumbotron">Find My Wine At Binny's</h1> -->
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- <div class="page-header"> -->
    <div class="jumbotron text-right">
      <div class="row">
        <div class="text-center col-lg-12 col-md-8 col-xs-12">
          <h1 id=#"header" style="color: rgb(59, 5, 59); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Find A Wine Variety</h1>
          <h4 style="color: rgb(15, 78, 39); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Not sure which variety to choose or looking for something new to try?</h4>
          <h4 style="color: rgb(15, 78, 39); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Please answer the following questions to help us find a Wine Variety for you.</h4>
          <!-- <img src="fall-rose-wine.jpg" alt="Wine picture" width="300" height="300" class="pull-left img_responsive img-rounded"> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="left col-lg-12 col-md-6 col-xs-2">

<div>

  <form action="" id="varietyform" onsubmit="return false;">
      
    
    <fieldset>

        <div class ="container-fluid"
        <div class="row" style = "background-color:rgb(204, 255, 153)">
            <div class="text-center col-xl-12 col-lg-12 col-md-8 col-xs-12">
        <h1 id="finalVariety"style="size: 30px; color: rgb(153, 51, 255); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        </h1>
        </div>
        </div>
        
     <!-- <legend>Find a variety!</legend> -->
     <div class="row">
        <div class="left col-lg-6 col-md-8 col-xs-12">
     <label >Do you want your wine to have a fruity flavor?</label>
     </div>
     </div>
     <div class="row">
        <div class="left col-lg-6 col-md-8 col-xs-12">
     <input type="radio"  name="selectedfruit" value="Yes"
     onclick="unhideFruitTypeRadio(); unhideFruitTypeListlabel(); hidenoFruitListlabel(); hideNoFruitRadio()"
     />
     Yes, I would like my wine to taste fruity.
     </div>
     </div>
     <div class="row">
        <div class="left col-lg-6 col-md-8 col-xs-12">
     <input type="radio"  name="selectedfruit" value="No"
     onclick="hideFruitTypeDropDowns(); hideFruitTypeDropDownlabel(); hideFruitTypeRadio(); hideFruitTypeListlabel(); unhidenoFruitListlabel(); unhideNoFruitRadio() "
    />
     No, I do not want my wine to taste fruity.
     </div> 
     </div> 

     <br/>

     <label id=fruittypeListlabel>Choose a type of fruit flavor you prefer:</label>
     <div class="row">
        <div class="left col-lg-6 col-md-8 col-xs-12">
     <!-- <label >Choose your favorite type of Fruit Flavor</label> -->
     </div>
     </div>
     <div class="row">
        <div class="left col-lg-6 col-md-8 col-xs-12">
     <input type="radio" id="selectedfruittype1"  name="selectedfruittype" value="Berry"
     onclick="hideFruitTypeDropDowns(); hideFruitTypeDropDownlabel(); unhideberryFruitTypeDropDowns(); hidenoFruitListlabel(); hideNoFruitRadio()"
     />
     <label id=radioft1>Berry</label> 
     </div>
     </div>
     <div class="row">
        <div class="left col-lg-6 col-md-8 col-xs-12">
     <input type="radio" id="selectedfruittype2" name="selectedfruittype" value="citrus"
     onclick="hideFruitTypeDropDowns(); hideFruitTypeDropDownlabel(); unhidecitrusFruitTypeDropDowns();  hidenoFruitListlabel(); hideNoFruitRadio()"
    />
    <label id=radioft2>Citrus </label> 
     </div> 
     </div> 
     <div class="row">
        <div class="left col-lg-6 col-md-8 col-xs-12">
     <input type="radio" id="selectedfruittype3" name="selectedfruittype" value="Tree"
     onclick="hideFruitTypeDropDowns(); hideFruitTypeDropDownlabel(); unhidetreeFruitTypeDropDowns();  hidenoFruitListlabel(); hideNoFruitRadio()"
    />
    <label id=radioft3>Fruit that grows on trees like Apples</label> 
     </div> 
     </div> 
     <div class="row">
        <div class="left col-lg-6 col-md-8 col-xs-12">
     <input type="radio" id="selectedfruittype4"  name="selectedfruittype" value="tropical"
     onclick="hideFruitTypeDropDowns(); hideFruitTypeDropDownlabel(); unhidetropicalFruitTypeDropDowns();  hidenoFruitListlabel(); hideNoFruitRadio()"
    />
    <label id=radioft4>Tropical Fruit </label>
     </div> 
     </div> 

<!-- fruit flavor type drop downs  -->

     <label id=favfruitListlabel>Pick Your Favorite Fruit:</label>
  
     <!-- <label id=berryListlabel>Choose a fruit flavor you prefer:</label>  -->

     <select  id="berrylist" name='berrylist'
     onchange="displayberryVariety()">
     <option value="None">Select your favorite berry</option>
     <option value="Blackberry">Blackberry</option>
     <option value="Black Cherry">Black Cherry</option>
     <option value="Cherry">Cherry</option>
     <option value="Currants">Currants</option>
     <option value="Raspberry">Raspberry</option>
     </select>

     <!-- <label id=tropicalListlabel>Choose a fruit flavor you prefer:</label> -->

    <select  id="tropicallist" name='tropicallist'
    onchange="displaytropicalVariety()">
    <option value="None">Select your favorite tropical fruit</option>
    <option value="Pineapple">Pineapple</option>
    </select>

    <!-- <label id=citrusListlabel>Choose a fruit flavor you prefer:</label> -->
    <select  id="citruslist" name='citruslist'
    onchange="displaycitrusVariety()">
    <option value="None">Select your favorite citrus fruit</option>
    <option value="Grapefruit">Grapefruit</option>
    <option value="Lemon">Lemon</option>
    <option value="Lime">Lime</option>
    <option value="Tangerine">Tangerine</option>
    </select>

    <!-- <label id=treeListlabel>Choose a fruit flavor you prefer:</label> -->
    <select  id="treelist" name='treelist'
    onchange="displaytreeVariety()">
    <option value="None">Select your favorite tree fruit </option>
    <option value="Apple">Apple</option>
    <option value="Green Apple">Green Apple</option>
    <option value="Peach">Peach</option>
    <option value="Pear">Pear</option>
    <option value="Plum">Plum</option>
    <option value="Dragon Fruit">Dragon Fruit</option>
    </select>

    <!-- <label id=fruitListlabel>Choose a fruit flavor you prefer:</label>
      
     <select  id="fruitlist" name='fruitlist'
     onchange="displayVariety()">
     <option value="None">Select a fruit flavor</option>
     <option value="Blackberry">Blackberry</option>
     <option value="Black Cherry">Black Cherry</option>
     <option value="Currants">Currants</option>
     <option value="Lime">Lime</option>
     <option value="Pineapple">Pineapple</option>
     <option value="Raspberry">Raspberry</option>
    </select> -->
 
    <div class="row">
      <div class="left col-lg-6 col-md-8 col-xs-12">




 <br/>

 <!-- This is for the non fruity wines -->
 <div class="row">
  <div class="left col-lg-6 col-md-8 col-xs-12">
   <label id=nofruitListlabel>Please choose which flavors you prefer:</label>
  </div>
 </div>   
 <div class="row">
    <div class="left col-lg-6 col-md-8 col-xs-12">
 <input type="radio" id="selectedNoFruit1"  name="selectedNoFruit" value="11"
 onclick="displayNoFruitVariety()" />
 <label id=radionf1>Rich, Full Bodied Oak Flavors</label>
 </div>
 </div>

 <div class="row">
    <div class="left col-lg-6 col-md-8 col-xs-12">
 <input type="radio" id="selectedNoFruit2"  name="selectedNoFruit" value="4"
 onclick="displayNoFruitVariety()"/>
 <label id=radionf2>A complex medium body astringic and bitter flavor</label>
 </div>
</div>
<div class="row">
    <div class="left col-lg-6 col-md-8 col-xs-12">
<input type="radio" id="selectedNoFruit3" name="selectedNoFruit" value="12"
 onclick="displayNoFruitVariety()" />
<label id=radionf3>Neither</label>
</div> 
</div>


  </div>
</div>

    <!-- </select>
    <br/>
    <p>
    <label for='includecandles' class="inlinelabel">
    Include Candles($5)</label>
    <input type="checkbox" id="includecandles" name='includecandles'
    onclick="calculateTotal()" />
   </p>
 
    <p>
    <label class="inlinelabel" for='includeinscription'>
    Include Inscription($20)</label>
    <input type="checkbox" id="includeinscription"
    name="includeinscription" onclick="calculateTotal()" />
 
    <input type="text"  id="theinscription"
    name="theinscription" value="Enter Inscription"  />
    </p> -->
    
    <!-- This is the id that displays the final variety -->
    
  
    
    <div class ="container-fluid"
    <div class="row" style = "background-color:rgb(204, 255, 153)">
        <div class="text-center col-xl-12 col-lg-12 col-md-8 col-xs-12">
    <h1 id="finalVariety"style="size: 30px; color: rgb(153, 51, 255); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    </h1>
    </div>
    </div>
  </fieldset>
  </div>
    </div>
      
    
</form>

<script>
  function hidefinalVariety() {
  document.getElementById("finalVariety").style.visibility = "hidden";
  }
 </script>        

<script>
  function unhidefinalVariety() {
  document.getElementById("finalVariety").style.visibility = "visible";
  }
 </script>        

<script>
  function hideFruitList() {
  document.getElementById("fruitlist").style.visibility = "hidden";
  document.getElementById("fruitListlabel").style.visibility = "hidden";  
}
</script>

<script>
  function hideFruitListlabel() {
  document.getElementById("fruitListlabel").style.visibility = "hidden";
  }
 </script>        

<!-- hide unhide fruit type drop downs -->
<script>
    function unhideBerryDropDown(){
       document.getElementById("berrylist").style.visibility = "visible";
       document.getElementById("berryListlabel").style.visibility = "visible";
    }
    </script>
<script>
    function unhideCitrusDropDown(){
       document.getElementById("citruslist").style.visibility = "visible";
       document.getElementById("citrusListlabel").style.visibility = "visible";
    }
    </script>
    <script>
        function unhideTreeDropDown(){
           document.getElementById("treelist").style.visibility = "visible";
           document.getElementById("treeListlabel").style.visibility = "visible";
        }
        </script>

<script>
    function unhideTropicalDropDown(){
       document.getElementById("tropicallist").style.visibility = "visible";
       document.getElementById("tropicalListlabel").style.visibility = "visible";
    }
</script>

<script>
    function hideFruitTypeDropDowns() {
    document.getElementById("berrylist").style.display = "none";
    document.getElementById("citruslist").style.display = "none";
    document.getElementById("tropicallist").style.display = "none";
    document.getElementById("treelist").style.display = "none"; 
    document.getElementById("favfruitListlabel").style.display = "none"; 
  }
  </script>
  
  
  <script>
      function hideFruitTypeDropDownlabel() {
      document.getElementById("favfruitListlabel").style.visibility = "hidden";
      }
     </script>        
  
  <script>
      function unhideberryFruitTypeDropDowns() {
      document.getElementById("berrylist").style.display = "block";
      document.getElementById("favfruitListlabel").style.visibility = "visible";
      
    }
    </script> 
  

  <script>
      function unhidecitrusFruitTypeDropDowns() {
      document.getElementById("citruslist").style.display = "block";
      document.getElementById("favfruitListlabel").style.visibility = "visible";
      
    }
    </script> 

<script>
    function unhidetreeFruitTypeDropDowns() {
    document.getElementById("treelist").style.display = "block";
    document.getElementById("favfruitListlabel").style.visibility = "visible";
    
  }
  </script> 

<script>
    function unhidetropicalFruitTypeDropDowns() {
    document.getElementById("tropicallist").style.display = "block";
    document.getElementById("favfruitListlabel").style.visibility = "visible";
    
  }
  </script> 


<script>
    function hideFruitListlabel() {
    document.getElementById("fruitListlabel").style.visibility = "hidden";
    }
   </script>        
  
  <script>
      function unhideFruitList(){
         document.getElementById("fruitlist").style.visibility = "visible";
         document.getElementById("fruitListlabel").style.visibility = "visible";
      }
      </script>
  
<script>
    function unhideFruitListlabel(){
       document.getElementById("fruitListlabel").style.visibility = "visible";
    }
</script>

<!-- No Fruit Radio Buttons Hide UnHide  -->
<script>
    function hideNoFruitRadio() {
    console.log("in hideNoFruitRadio")
    
    document.getElementById("selectedNoFruit1").style.visibility = "hidden";
    document.getElementById("radionf1").style.visibility = "hidden";
    
    document.getElementById("selectedNoFruit2").style.visibility = "hidden";
    document.getElementById("radionf2").style.visibility = "hidden";
    
    document.getElementById("selectedNoFruit3").style.visibility = "hidden";
    document.getElementById("radionf3").style.visibility = "hidden";
    
  }
  </script>
  
  <script>
    function hidenoFruitListlabel() {
    console.log("in hidenoFruitListLabel")
    document.getElementById("nofruitListlabel").style.visibility = "hidden";
    }
   </script>

<script>
    function unhideNoFruitRadio() {
    console.log("in unhideNoFruitRadio")
    
    document.getElementById("selectedNoFruit1").style.visibility = "visible";
    document.getElementById("radionf1").style.visibility = "visible";
    
    document.getElementById("selectedNoFruit2").style.visibility = "visible";
    document.getElementById("radionf2").style.visibility = "visible";
    
    document.getElementById("selectedNoFruit3").style.visibility = "visible";
    document.getElementById("radionf3").style.visibility = "visible";
    
  }
  </script>
  
  <script>
    function unhidenoFruitListlabel() {
    console.log("in unhidenoFruitListLabel")
    document.getElementById("nofruitListlabel").style.visibility = "visible";
    }
   </script>



<script>
    function hideFruitTypeRadio() {
    console.log("in hideFruitTypeRadio")
    
    document.getElementById("selectedfruittype1").style.visibility = "hidden";
    document.getElementById("radioft1").style.visibility = "hidden";
    
    document.getElementById("selectedfruittype2").style.visibility = "hidden";
    document.getElementById("radioft2").style.visibility = "hidden";
    
    document.getElementById("selectedfruittype3").style.visibility = "hidden";
    document.getElementById("radioft3").style.visibility = "hidden";
    
    document.getElementById("selectedfruittype4").style.visibility = "hidden";
    document.getElementById("radioft4").style.visibility = "hidden";
  }
  </script>
  
  <script>
    function hideFruitTypeListlabel() {
    console.log("in hideFruitTypeListLabel")
    document.getElementById("fruittypeListlabel").style.visibility = "hidden";
    }
   </script>


<script>
    function unhideFruitTypeRadio() {
    console.log("in unhideFruitTypeRadio")
    
    document.getElementById("selectedfruittype1").style.visibility = "visible";
    document.getElementById("radioft1").style.visibility = "visible";
    
    document.getElementById("selectedfruittype2").style.visibility = "visible";
    document.getElementById("radioft2").style.visibility = "visible";
    
    document.getElementById("selectedfruittype3").style.visibility = "visible";
    document.getElementById("radioft3").style.visibility = "visible";
    
    document.getElementById("selectedfruittype4").style.visibility = "visible";
    document.getElementById("radioft4").style.visibility = "visible";
  }
  </script>
  
  <script>
    function unhideFruitTypeListlabel() {
    console.log("in hideFruitTypeListLabel")
    document.getElementById("fruittypeListlabel").style.visibility = "visible";
    }
   </script>

<script>
    function unhideFruitTypeRadio() {
    console.log("in unhideFruitTypeRadio")
    
    document.getElementById("selectedfruittype1").style.visibility = "visible";
    document.getElementById("radioft1").style.visibility = "visible";
    
    document.getElementById("selectedfruittype2").style.visibility = "visible";
    document.getElementById("radioft2").style.visibility = "visible";
    
    document.getElementById("selectedfruittype3").style.visibility = "visible";
    document.getElementById("radioft3").style.visibility = "visible";
    
    document.getElementById("selectedfruittype4").style.visibility = "visible";
    document.getElementById("radioft4").style.visibility = "visible";
  }
  </script>

</div>
</div>

<!-- populate arrays  -->
<script type=text/javascript>
  var fruit_variety= new Array();
  fruit_variety["None"]='';
  fruit_variety["Blackberry"]='Melbac';
  fruit_variety["Black Cherry"]='Pinot Noir';
  fruit_variety["Cherry"]='Red Blend, Pinot Noir, Syrah, Rose, Zinfadel, or Merlot';
  fruit_variety["Currants"]='Cabernet Sauvignon, Zinfandel, or Merlot';
  fruit_variety["Lime"]='Sauvignon Blanc';
  fruit_variety["Pineapple"]='Chardonay';
  fruit_variety["Lemon"]='Reisling';
  fruit_variety["Raspberry"]='Pinot Noir, Syrah, Rose, Zinfadel, or Merlot';
  fruit_variety["Apple"]='Riesling, Chardonnay, Sauvignon Blanc';
  fruit_variety["Green Apple"]='Sauvignon Blanc';
  fruit_variety["Peach"]='Reisling';
  fruit_variety["Plum"]='Red Blend or Melbac';
  fruit_variety["Pear"]='Chardonnay';
  fruit_variety["Lemon"]='Riesling';
  fruit_variety["Grapefruit"]='Riesling or Sauvignon Blanc';
  fruit_variety["Tangerine"]='Riesling';
  fruit_variety["Dragon Fruit"]='Beer';
    console.log("after fruit variety array")
    console.dir(fruit_variety)

  </script>
<script type=text/javascript>
  var nofruit_variety= new Array();
  nofruit_variety["None"]='';
  nofruit_variety["11"]='Cabernet Sauvignon';
  nofruit_variety["4"]='Bordeaux, Rose';
  nofruit_variety["12"]='Whiskey';
    console.log("after no fruit variety array")
    console.dir(nofruit_variety)

  </script>

<!-- Functions  -->
    <script >
      function getFruit()
      {
        console.log("in getFruit")
//This function finds the filling price based on the
//drop down selection
    var suggestedVariety="";
    //Get a reference to the form id="cakeform"
    var theForm = document.forms["varietyform"];
    //Get a reference to the select id="filling"
     var selectedFruit = theForm.elements["berrylist"];
 
    //set cakeFilling Price equal to value user chose
    //For example filling_prices["Lemon".value] would be equal to 5
    suggestedVariety = fruit_variety[selectedFruit.value];
    console.log(suggestedVariety)
    //finally we return cakeFillingPrice
    return suggestedVariety;
}
</script>
 
 
<!-- Functions  -->
<script >
    function getberryFruit()
    {
      console.log("in getberryFruit")
//This function finds the filling price based on the
//drop down selection
  var suggestedVariety="";
  //Get a reference to the form id="cakeform"
  var theForm = document.forms["varietyform"];
  //Get a reference to the select id="filling"
   var selectedFruit = theForm.elements["berrylist"];

  //set cakeFilling Price equal to value user chose
  //For example filling_prices["Lemon".value] would be equal to 5
  suggestedVariety = fruit_variety[selectedFruit.value];
  console.log(suggestedVariety)
  //finally we return cakeFillingPrice
  return suggestedVariety;
}
</script>
<!-- Functions  -->
<script >
    function getcitrusFruit()
    {
      console.log("in getcitrusFruit")
//This function finds the filling price based on the
//drop down selection
  var suggestedVariety="";
  //Get a reference to the form id="cakeform"
  var theForm = document.forms["varietyform"];
  //Get a reference to the select id="filling"
   var selectedFruit = theForm.elements["citruslist"];

  //set cakeFilling Price equal to value user chose
  //For example filling_prices["Lemon".value] would be equal to 5
  suggestedVariety = fruit_variety[selectedFruit.value];
  console.log(suggestedVariety)
  //finally we return cakeFillingPrice
  return suggestedVariety;
}
</script>
<!-- Functions  -->
<script >
    function gettreeFruit()
    {
      console.log("in gettreeFruit")
//This function finds the filling price based on the
//drop down selection
  var suggestedVariety="";
  //Get a reference to the form id="cakeform"
  var theForm = document.forms["varietyform"];
  //Get a reference to the select id="filling"
   var selectedFruit = theForm.elements["treelist"];

  //set cakeFilling Price equal to value user chose
  //For example filling_prices["Lemon".value] would be equal to 5
  suggestedVariety = fruit_variety[selectedFruit.value];
  console.log(suggestedVariety)
  //finally we return cakeFillingPrice
  return suggestedVariety;
}
</script>

<!-- Functions  -->
<script >
    function gettropicalFruit()
    {
      console.log("in gettropicalFruit")
//This function finds the filling price based on the
//drop down selection
  var suggestedVariety="";
  //Get a reference to the form id="cakeform"
  var theForm = document.forms["varietyform"];
  //Get a reference to the select id="filling"
   var selectedFruit = theForm.elements["tropicallist"];

  //set cakeFilling Price equal to value user chose
  //For example filling_prices["Lemon".value] would be equal to 5
  suggestedVariety = fruit_variety[selectedFruit.value];
  console.log(suggestedVariety)
  //finally we return cakeFillingPrice
  return suggestedVariety;
}
</script>

 <script >
    function getNoFruit()
    {
      console.log("in getNoFruit")
//This function finds the filling price based on the
//drop down selection
  var suggestedVariety="";
  //Get a reference to the form id="cakeform"
  var theForm = document.forms["varietyform"];
  //Get a reference to the select id="filling"
   var selectedNoFruit = theForm.elements["selectedNoFruit"];

  //set cakeFilling Price equal to value user chose
  //For example filling_prices["Lemon".value] would be equal to 5
  suggestedVariety = nofruit_variety[selectedNoFruit.value];
  console.log(suggestedVariety)
  //finally we return cakeFillingPrice
  return suggestedVariety;
}
</script>     

      <script>  
        function displayVariety()
        {
            console.log("in displayVariety")
            //Here we get the total price by calling our function
            //Each function returns a number so by calling them we add the values they return together
            
            
            var selectedVariety = getFruit() 
            
            console.log(selectedVariety)
            //display the result
            // document.getElementById("finalVariety").style.visibility = "visible";
            var divobj = document.getElementById('finalVariety');
           
            // divobj.style.display='block';
            divobj.innerHTML = "We suggest you try "+selectedVariety;
            
        
        }
      </script>
 <script>  
    function displayberryVariety()
    {
        console.log("in displayVariety")
        //Here we get the total price by calling our function
        //Each function returns a number so by calling them we add the values they return together
        
        
        var selectedVariety = getberryFruit() 
        
        console.log(selectedVariety)
        //display the result
        // document.getElementById("finalVariety").style.visibility = "visible";
        var divobj = document.getElementById('finalVariety');
       
        // divobj.style.display='block';
        divobj.innerHTML = "We suggest you try "+selectedVariety;
        
    
    }
  </script>
<script>  
    function displaycitrusVariety()
    {
        console.log("in displaycitrusVariety")
        //Here we get the total price by calling our function
        //Each function returns a number so by calling them we add the values they return together
        
        
        var selectedVariety = getcitrusFruit() 
        
        console.log(selectedVariety)
        //display the result
        // document.getElementById("finalVariety").style.visibility = "visible";
        var divobj = document.getElementById('finalVariety');
       
        // divobj.style.display='block';
        divobj.innerHTML = "We suggest you try "+selectedVariety;
        
    
    }
  </script>

<script>  
    function displaytreeVariety()
    {
        console.log("in displayVariety")
        //Here we get the total price by calling our function
        //Each function returns a number so by calling them we add the values they return together
        
        
        var selectedVariety = gettreeFruit() 
        
        console.log(selectedVariety)
        //display the result
        // document.getElementById("finalVariety").style.visibility = "visible";
        var divobj = document.getElementById('finalVariety');
       
        // divobj.style.display='block';
        divobj.innerHTML = "We suggest you try "+selectedVariety;
        
    
    }
  </script>
  <script>  
      function displaytropicalVariety()
      {
          console.log("in displaytropicalVariety")
          //Here we get the total price by calling our function
          //Each function returns a number so by calling them we add the values they return together
          
          
          var selectedVariety = gettropicalFruit() 
          
          console.log(selectedVariety)
          //display the result
          // document.getElementById("finalVariety").style.visibility = "visible";
          var divobj = document.getElementById('finalVariety');
         
          // divobj.style.display='block';
          divobj.innerHTML = "We suggest you try "+selectedVariety;
          
      
      }
    </script>
<script>  
    function displayNoFruitVariety()
    {
        console.log("in displayNoFruitVariety")
        //Here we get the total price by calling our function
        //Each function returns a number so by calling them we add the values they return together
        
        var selectedVariety = getNoFruit() 
        
        console.log(selectedVariety)
        //display the result
        // document.getElementById("finalVariety").style.visibility = "visible";
        var divobj = document.getElementById('finalVariety');
       
        // divobj.style.display='block';
        divobj.innerHTML = "We suggest you try "+selectedVariety;
        
    
    }
  </script>
      <!-- <script>
        function hideVariety()
        {
            var divobj = document.getElementById('finalVariety');
            divobj.style.display='none';
        }
      </script> -->
      <div class="container-fluid" <div class="row">
        <div class="text-center col-xl-12 col-lg-12 col-md-8 col-xs-12">
        <a href='/finder'>
          <button id="search" type="button" class="btn btn-success">Take me to buy my wine</button>
        </a>
          </h1>
        </div>
      </div>
  </div>
</div>

</body>

<div class="container-fluid">
  <div class="text-center">
    <footer class="footer" role="contentinfo" style="background-color: lightgrey">
      <div class="footer_main_menu text-center">
        <a href="/" title="Home">Home \ </a>
        <a href="/contact" title="Contact">Contact</a>
      </div>
      <!--Div for footer-->
      <div class="footer_main_social-links">
        <a href="https://github.com/alexa289/Boot-Camp-Project-II">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://twitter.com/wineenthusiast">
          <i class="fa fa-twitter"></i>
        </a>
        <p class="footer-text">
          <small> © Copyright NWU Data Science Boot Camp
            </br>
            April 2018
          </small>
        </p>
      </div>
    </footer>
  </div>
</div>

</html>